.float-link {
  display: flex;
  align-items: center;
  background-color: #3381FF;
  color: white;
  height: 44px;
  padding-left: 8px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    .float-link-text {
      width: 207px;
      opacity: 1;
    }
  }
}

.float-link-text {
  width: 0;
  padding-right: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: width .4s cubic-bezier(0.16, 1, 0.3, 1),
              opacity .2s linear;
}
