.float-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #3381FF;
  color: white;
  width: 243px;
  height: 44px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  cursor: pointer;
}
