@import "../theme";

.realtime-box {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.redo-undo-box {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  left: 24px;
}

.zoom-controller-box {
  position: absolute;
  left: 120px;
  z-index: 2;
  bottom: 24px;
}

.room-controller-box {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 2;
}

.title-controller-box {
  position: absolute;
  left: 24px;
  top: 24px;
  z-index: 2;
}

.title-controller-mid-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  flex-direction: row;
  font-size: 16px;
}

.title-text {
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(33, 35, 36, 1);
  line-height: 22px;
}

.title-cut-line {
  width: 1px;
  height: 20px;
  background-color: #999999;
  margin-left: 16px;
  margin-right: 16px;
}

.title-time {
  opacity: 0.6;
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(33, 35, 36, 1);
  line-height: 22px;
}

.page-controller-box {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  right: 24px;
}

.tool-box-out {
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 2;
  left: 24px;
}

.page-controller-mid-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  user-select: none;
  font-size: 12px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
}

.page-controller-cell {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;

  &:hover {
    background: rgba(33, 35, 36, 0.1);
  }
}

.modal-box {
  width: 100%;
  height: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-box-img {
  width: 206px;
  height: 100px;
}

.modal-box-name {
  font-size: 12px;
  color: #7A7B7C;
  margin-top: 8px;
  margin-bottom: 24px;
}

.logo-box {
  position: absolute;
  z-index: 2;
  left: 24px;
  top: 24px;
}

.invite-box {
  width: 400px;
}

.invite-text-box {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  word-break: break-all;
  font-size: 14px;
}

.invite-room-box {
  color: #212324;
}

.invite-url-box {
  color: #106BC5;
}

.invite-button-box {
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
}

.invite-button-left {
  width: 176px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(231, 231, 231, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7A7B7C;
  font-size: 16px;
  cursor: pointer;
}

.invite-button-right {
  width: 176px;
  height: 40px;
  background: rgba(16, 107, 197, 1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
}